{
    "openapi": "3.0.1",
    "info": {
        "title": "Automation Actions V4",
        "description": "Basepom for all HubSpot Projects",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "PROFESSIONAL",
            "sales": "PROFESSIONAL",
            "service": "PROFESSIONAL",
            "cms": "PROFESSIONAL",
            "commerce": "PROFESSIONAL",
            "crmHub": "PROFESSIONAL",
            "dataHub": "PROFESSIONAL"
        },
        "x-hubspot-related-documentation": [
            {
                "name": "Custom Workflow Actions Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/automation/custom-workflow-actions"
            }
        ]
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/automation/v4/actions"
        }
    ],
    "tags": [
        {
            "name": "Callbacks"
        },
        {
            "name": "Definitions"
        },
        {
            "name": "Functions"
        },
        {
            "name": "Revisions"
        }
    ],
    "paths": {
        "/callbacks/complete": {
            "post": {
                "tags": [
                    "Callbacks"
                ],
                "summary": "Complete a batch of callbacks",
                "description": "Complete a batch of blocked action executions.",
                "operationId": "post-/automation/v4/actions/callbacks/complete_completeBatch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputCallbackCompletionBatchRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "workflows-access"
                        ]
                    }
                ]
            }
        },
        "/callbacks/{callbackId}/complete": {
            "post": {
                "tags": [
                    "Callbacks"
                ],
                "summary": "Completes a callback",
                "description": "Complete a specific blocked action execution by ID.",
                "operationId": "post-/automation/v4/actions/callbacks/{callbackId}/complete_complete",
                "parameters": [
                    {
                        "name": "callbackId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CallbackCompletionRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "workflows-access"
                        ]
                    }
                ]
            }
        },
        "/{appId}": {
            "get": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Retrieve custom action definitions",
                "description": "Retrieve custom workflow action definitions by app ID.",
                "operationId": "get-/automation/v4/actions/{appId}_getPage",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "example": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Create a new custom action definition",
                "description": "Create a new custom workflow action.",
                "operationId": "post-/automation/v4/actions/{appId}_create",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicActionDefinitionEgg"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionDefinition"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}": {
            "get": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Retrieve a custom action definition",
                "description": "Retrieve a custom workflow action definition by ID.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}_getById",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionDefinition"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Delete an action definition",
                "description": "Delete an action definition by ID.",
                "operationId": "delete-/automation/v4/actions/{appId}/{definitionId}_archive",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Update an existing action definition",
                "description": "Update an existing action definition by ID.",
                "operationId": "patch-/automation/v4/actions/{appId}/{definitionId}_update",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicActionDefinitionPatch"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionDefinition"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/functions": {
            "get": {
                "tags": [
                    "Functions"
                ],
                "summary": "Retrieve functions for a given definition",
                "description": "Retrieve all functions included in a definition.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/functions_getPage",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicActionFunctionIdentifierNoPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/functions/{functionType}": {
            "get": {
                "tags": [
                    "Functions"
                ],
                "summary": "Retrieve functions by a type for a given definition",
                "description": "Retrieve functions of a specific type for a given definition.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_getByFunctionType",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionFunction"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Functions"
                ],
                "summary": "Insert a function for a definition",
                "description": "Add a function for a given definition.",
                "operationId": "put-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_createOrReplaceByFunctionType",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionFunctionIdentifier"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Functions"
                ],
                "summary": "Delete a function for a definition",
                "description": "Delete a function within a given definition.",
                "operationId": "delete-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}_archiveByFunctionType",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/functions/{functionType}/{functionId}": {
            "get": {
                "tags": [
                    "Functions"
                ],
                "summary": "Retrieve a function from a given definition",
                "description": "Retrieve a specific function from a given definition.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_getById",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionFunction"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Functions"
                ],
                "summary": "Update a function for a definition",
                "description": "Update a function for a given definition by ID.",
                "operationId": "put-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_createOrReplace",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionFunctionIdentifier"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Functions"
                ],
                "summary": "Archive a function for a definition",
                "description": "Archive a function for a specific definition.",
                "operationId": "delete-/automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}_archive",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "functionType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "POST_ACTION_EXECUTION",
                                "POST_FETCH_OPTIONS",
                                "PRE_ACTION_EXECUTION",
                                "PRE_FETCH_OPTIONS"
                            ],
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/requires-object": {
            "get": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Retrieve the object requirement status for a custom action definition.",
                "description": "Retrieve whether a custom action definition requires an object.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionDefinitionRequiresObjectResponse"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Set the object requirement for a custom action definition.",
                "description": "Set whether a custom action definition requires an object.",
                "operationId": "post-/automation/v4/actions/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicActionDefinitionRequiresObjectRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-write"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/revisions": {
            "get": {
                "tags": [
                    "Revisions"
                ],
                "summary": "Retrieve revisions for a given definition",
                "description": "Retrieve the versions of a definition by ID.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/revisions_getPage",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicActionRevisionForwardPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            }
        },
        "/{appId}/{definitionId}/revisions/{revisionId}": {
            "get": {
                "tags": [
                    "Revisions"
                ],
                "summary": "Retrieve a specific revision of a definition",
                "description": "Retrieve a specific revision of a definition by revision ID.",
                "operationId": "get-/automation/v4/actions/{appId}/{definitionId}/revisions/{revisionId}_getById",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicActionRevision"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "developers-read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "TestRequestContext": {
                "title": "TEST",
                "required": [
                    "source"
                ],
                "type": "object",
                "properties": {
                    "source": {
                        "type": "string",
                        "description": "Indicates the source of the test request, with the only accepted value being 'TEST'",
                        "default": "TEST",
                        "enum": [
                            "TEST"
                        ],
                        "example": null
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Context object for test requests indicating the request source."
            },
            "PublicActionFunction": {
                "required": [
                    "functionSource",
                    "functionType"
                ],
                "type": "object",
                "properties": {
                    "functionSource": {
                        "type": "string",
                        "description": "The source code or script that defines the function's behavior",
                        "example": null
                    },
                    "functionType": {
                        "type": "string",
                        "description": "The type of function, with accepted values: POST_ACTION_EXECUTION, POST_FETCH_OPTIONS, PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS",
                        "enum": [
                            "POST_ACTION_EXECUTION",
                            "POST_FETCH_OPTIONS",
                            "PRE_ACTION_EXECUTION",
                            "PRE_FETCH_OPTIONS"
                        ],
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier for the action function",
                        "example": null
                    }
                },
                "example": null,
                "description": "Defines a function associated with an automation action."
            },
            "PublicFieldTypeDefinition": {
                "required": [
                    "name",
                    "options",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "helpText": {
                        "type": "string",
                        "description": "Additional information or guidance about the field",
                        "example": null
                    },
                    "referencedObjectType": {
                        "type": "string",
                        "description": "The type of object that the field references, with accepted values including OWNER",
                        "enum": [
                            "OWNER"
                        ],
                        "example": null
                    },
                    "name": {
                        "type": "string",
                        "description": "The internal name used to identify the field",
                        "example": null
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicOption"
                        },
                        "example": null,
                        "description": "Array of available options for the field."
                    },
                    "description": {
                        "type": "string",
                        "description": "A detailed explanation of the field's purpose",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A user-friendly name for the field",
                        "example": null
                    },
                    "type": {
                        "type": "string",
                        "description": "The data type of the field, with accepted values including bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, and string",
                        "enum": [
                            "bool",
                            "date",
                            "datetime",
                            "enumeration",
                            "json",
                            "number",
                            "object_coordinates",
                            "phone_number",
                            "string"
                        ],
                        "example": null
                    },
                    "fieldType": {
                        "type": "string",
                        "description": "The type of field, with accepted values including booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, and textarea",
                        "enum": [
                            "booleancheckbox",
                            "calculation_equation",
                            "checkbox",
                            "date",
                            "file",
                            "html",
                            "number",
                            "phonenumber",
                            "radio",
                            "select",
                            "text",
                            "textarea"
                        ],
                        "example": null
                    },
                    "optionsUrl": {
                        "type": "string",
                        "description": "A URL that provides options for the field",
                        "example": null
                    }
                },
                "example": null,
                "description": "Defines the structure and type of a field in an automation action."
            },
            "PublicActionDefinition": {
                "required": [
                    "actionUrl",
                    "functions",
                    "id",
                    "inputFields",
                    "labels",
                    "objectTypes",
                    "published",
                    "revisionId"
                ],
                "type": "object",
                "properties": {
                    "functions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicActionFunctionIdentifier"
                        },
                        "example": null,
                        "description": "Array of function identifiers associated with this action."
                    },
                    "actionUrl": {
                        "type": "string",
                        "example": null,
                        "description": "The URL endpoint where the action is executed."
                    },
                    "published": {
                        "type": "boolean",
                        "example": null,
                        "description": "Indicates whether the action definition is published."
                    },
                    "labels": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/PublicActionLabels"
                        },
                        "example": null,
                        "description": "Localized labels for the action keyed by language code."
                    },
                    "inputFields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicInputFieldDefinition"
                        },
                        "example": null,
                        "description": "Array of input field definitions required by the action."
                    },
                    "outputFields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OutputFieldDefinition"
                        },
                        "example": null,
                        "description": "Array of output field definitions produced by the action."
                    },
                    "revisionId": {
                        "type": "string",
                        "example": null,
                        "description": "The revision identifier for this action definition version."
                    },
                    "archivedAt": {
                        "type": "integer",
                        "format": "int64",
                        "example": null,
                        "description": "Unix timestamp when the action was archived."
                    },
                    "inputFieldDependencies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicActionDefinitionInputFieldDependencies"
                        },
                        "example": null,
                        "description": "Array of dependencies between input fields."
                    },
                    "executionRules": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicExecutionTranslationRule"
                        },
                        "example": null,
                        "description": "Array of rules governing action execution translation."
                    },
                    "id": {
                        "type": "string",
                        "example": null,
                        "description": "The unique identifier for the action definition."
                    },
                    "objectTypes": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Array of CRM object types this action applies to."
                    },
                    "objectRequestOptions": {
                        "$ref": "#/components/schemas/PublicObjectRequestOptions",
                        "description": "Configuration options for object requests in the action."
                    }
                },
                "example": null,
                "description": "Complete definition of an automation action including its configuration."
            },
            "PublicOption": {
                "required": [
                    "label",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "displayOrder": {
                        "type": "integer",
                        "description": "The position of the option relative to others in the list",
                        "format": "int32",
                        "example": null
                    },
                    "description": {
                        "type": "string",
                        "description": "A description of the option",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A user-friendly label that identifies the option",
                        "example": null
                    },
                    "value": {
                        "type": "string",
                        "description": "The actual value of the option",
                        "example": null
                    }
                },
                "example": null,
                "description": "Represents a selectable option with a label and value."
            },
            "PublicActionDefinitionRequiresObjectResponse": {
                "required": [
                    "requiresObject"
                ],
                "type": "object",
                "properties": {
                    "requiresObject": {
                        "type": "boolean",
                        "description": "Indicates whether a custom action definition requires an object",
                        "example": null
                    }
                },
                "example": null,
                "description": "Response indicating whether an action requires an associated object."
            },
            "PublicConditionalSingleFieldDependency": {
                "title": "CONDITIONAL_SINGLE_FIELD",
                "required": [
                    "controllingFieldName",
                    "controllingFieldValue",
                    "dependencyType",
                    "dependentFieldNames"
                ],
                "type": "object",
                "properties": {
                    "dependencyType": {
                        "type": "string",
                        "description": "The type of dependency, with the default value being CONDITIONAL_SINGLE_FIELD",
                        "default": "CONDITIONAL_SINGLE_FIELD",
                        "enum": [
                            "CONDITIONAL_SINGLE_FIELD"
                        ],
                        "example": null
                    },
                    "controllingFieldName": {
                        "type": "string",
                        "description": "The name of the field that determines the dependency",
                        "example": null
                    },
                    "controllingFieldValue": {
                        "type": "string",
                        "description": "The value of the controlling field that triggers the dependency",
                        "example": null
                    },
                    "dependentFieldNames": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Array of field names that depend on the controlling field's value."
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Defines a conditional dependency where fields depend on a specific controlling field value."
            },
            "PublicActionDefinitionInputFieldDependencies": {
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/PublicSingleFieldDependency",
                        "description": "A single field dependency configuration option."
                    },
                    {
                        "$ref": "#/components/schemas/PublicConditionalSingleFieldDependency",
                        "description": "A conditional single field dependency configuration option."
                    }
                ],
                "example": null,
                "description": "Union type representing either a single field or conditional single field dependency."
            },
            "ChirpAiContextObject": {
                "required": [
                    "applicationGroup",
                    "applicationId",
                    "isPrivate",
                    "metadata",
                    "otelContextHolder",
                    "unstructuredSources"
                ],
                "type": "object",
                "properties": {
                    "trajectoryId": {
                        "type": "string",
                        "description": "The identifier for the trajectory, formatted as a UUID",
                        "format": "uuid",
                        "example": null
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Additional metadata related to the context, represented as key-value pairs",
                        "example": null
                    },
                    "otelContextHolder": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Holds OpenTelemetry context information as key-value pairs",
                        "example": null
                    },
                    "conversationId": {
                        "type": "string",
                        "example": null,
                        "description": "Unique identifier for the conversation session."
                    },
                    "applicationGroup": {
                        "type": "string",
                        "description": "The group to which the application belongs",
                        "example": null
                    },
                    "inferenceId": {
                        "type": "string",
                        "description": "The identifier for the inference associated with the context",
                        "example": null
                    },
                    "unstructuredSources": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "NONE",
                                "USER_INPUT",
                                "LOGGED_EMAIL",
                                "VIDEO_CALL",
                                "AUDIO_CALL",
                                "CALL_TRANSCRIPT",
                                "MEETING_TRANSCRIPT",
                                "FORMS",
                                "FEEDBACK_SURVEY",
                                "PDF",
                                "QUOTE",
                                "INVOICE",
                                "OTHER_ATTACHMENT_DOC",
                                "WHATSAPP",
                                "SMS",
                                "CHAT",
                                "FACEBOOK_MESSENGER",
                                "CUSTOM_CHANNEL_OR_API",
                                "MANY",
                                "NOTE",
                                "DERIVED"
                            ],
                            "example": null
                        },
                        "example": null,
                        "description": "Array of source types indicating where unstructured data originates."
                    },
                    "isPrivate": {
                        "type": "boolean",
                        "example": null,
                        "description": "Indicates whether the context data is private."
                    },
                    "applicationId": {
                        "type": "string",
                        "description": "The identifier for the application associated with the context",
                        "example": null
                    },
                    "complianceIds": {
                        "$ref": "#/components/schemas/ComplianceIds",
                        "description": "Reference to compliance identifiers associated with the context."
                    },
                    "featureId": {
                        "type": "string",
                        "description": "The identifier for the feature associated with the context",
                        "example": null
                    }
                },
                "example": null,
                "description": "Contains AI context information including application details and telemetry data."
            },
            "AgentRequestContext": {
                "title": "AGENTS",
                "required": [
                    "agentId",
                    "chirpAiContextObject",
                    "source"
                ],
                "type": "object",
                "properties": {
                    "trajectoryId": {
                        "type": "string",
                        "description": "The unique identifier for the trajectory associated with the agent request",
                        "example": null
                    },
                    "agentId": {
                        "type": "integer",
                        "description": "The unique identifier for the agent making the request",
                        "format": "int64",
                        "example": null
                    },
                    "source": {
                        "type": "string",
                        "description": "Indicates the source of the request, with the default value being 'AGENTS'",
                        "default": "AGENTS",
                        "enum": [
                            "AGENTS"
                        ],
                        "example": null
                    },
                    "chirpAiContextObject": {
                        "$ref": "#/components/schemas/ChirpAiContextObject",
                        "description": "The AI context object associated with the agent request."
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Context object for agent-initiated requests containing agent and AI context details."
            },
            "ContactId": {
                "required": [
                    "portalId"
                ],
                "type": "object",
                "properties": {
                    "vid": {
                        "type": "integer",
                        "description": "The unique identifier for the contact",
                        "format": "int64",
                        "example": null
                    },
                    "portalId": {
                        "type": "integer",
                        "description": "The ID of the portal associated with the contact",
                        "format": "int32",
                        "example": null
                    },
                    "email": {
                        "type": "string",
                        "description": "The email address of the contact",
                        "example": null
                    }
                },
                "example": null,
                "description": "Identifies a contact using portal ID, video ID, or email address."
            },
            "DoubleFieldSchema": {
                "title": "DOUBLE",
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "maximum": {
                        "type": "number",
                        "description": "The maximum allowable value for the double field",
                        "example": null
                    },
                    "type": {
                        "type": "string",
                        "description": "Indicates the field type as DOUBLE",
                        "default": "DOUBLE",
                        "enum": [
                            "DOUBLE"
                        ],
                        "example": null
                    },
                    "minimum": {
                        "type": "number",
                        "description": "The minimum allowable value for the double field",
                        "example": null
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Schema definition for a double-precision floating-point field with optional bounds."
            },
            "PublicObjectRequestOptions": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Array of property names to include in the request."
                    }
                },
                "example": null,
                "description": "Configuration options specifying which properties to include in object requests."
            },
            "LongFieldSchema": {
                "title": "LONG",
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "maximum": {
                        "type": "integer",
                        "description": "The maximum value allowed for the long field",
                        "format": "int64",
                        "example": null
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the field, which is LONG by default",
                        "default": "LONG",
                        "enum": [
                            "LONG"
                        ],
                        "example": null
                    },
                    "minimum": {
                        "type": "integer",
                        "description": "The minimum value allowed for the long field",
                        "format": "int64",
                        "example": null
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Schema definition for a 64-bit integer field with optional minimum and maximum values."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail",
                        "example": null
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{missingScopes=[scope1, scope2]}"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": null
                    }
                },
                "example": null,
                "description": "Detailed information about a specific error including context and remediation guidance."
            },
            "PublicActionLabels": {
                "required": [
                    "actionName"
                ],
                "type": "object",
                "properties": {
                    "inputFieldDescriptions": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Descriptions for each input field",
                        "example": null
                    },
                    "appDisplayName": {
                        "type": "string",
                        "description": "The display name of the application associated with the action",
                        "example": null
                    },
                    "outputFieldLabels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Labels for the output fields",
                        "example": null
                    },
                    "actionDescription": {
                        "type": "string",
                        "description": "A description of what the action does",
                        "example": null
                    },
                    "executionRules": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Rules that govern the execution of the action",
                        "example": null
                    },
                    "inputFieldOptionLabels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Labels for the options available in input fields",
                        "example": null
                    },
                    "actionCardContent": {
                        "type": "string",
                        "description": "Content displayed on the action card",
                        "example": null
                    },
                    "actionName": {
                        "type": "string",
                        "description": "The name of the action",
                        "example": null
                    },
                    "inputFieldLabels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Labels for the input fields",
                        "example": null
                    }
                },
                "example": null,
                "description": "Contains display labels and descriptions for an action and its input/output fields."
            },
            "PublicSingleFieldDependency": {
                "title": "SINGLE_FIELD",
                "required": [
                    "controllingFieldName",
                    "dependencyType",
                    "dependentFieldNames"
                ],
                "type": "object",
                "properties": {
                    "dependencyType": {
                        "type": "string",
                        "description": "The type of dependency, with the default value being 'SINGLE_FIELD'",
                        "default": "SINGLE_FIELD",
                        "enum": [
                            "SINGLE_FIELD"
                        ],
                        "example": null
                    },
                    "controllingFieldName": {
                        "type": "string",
                        "description": "The name of the field that controls the dependency",
                        "example": null
                    },
                    "dependentFieldNames": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Array of field names that depend on the controlling field."
                    }
                },
                "x-hubspot-sub-type-impl": true,
                "example": null,
                "description": "Defines a dependency where fields are controlled by another field's presence."
            },
            "ActionExecutionIndexIdentifier": {
                "required": [
                    "actionExecutionIndex",
                    "enrollmentId"
                ],
                "type": "object",
                "properties": {
                    "enrollmentId": {
                        "type": "integer",
                        "description": "The ID associated with the enrollment process",
                        "format": "int64",
                        "example": null
                    },
                    "actionExecutionIndex": {
                        "type": "integer",
                        "description": "The index number representing the execution order of the action",
                        "format": "int32",
                        "example": null
                    }
                },
                "example": null,
                "description": "Identifies a specific action execution within an enrollment by index and enrollment ID."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Reference to the next page of results in the paginated response."
                    }
                },
                "example": null,
                "description": "Contains pagination information for navigating to subsequent result pages."
            },
            "PublicInputFieldDefinition": {
                "required": [
                    "isRequired",
                    "typeDefinition"
                ],
                "type": "object",
                "properties": {
                    "isRequired": {
                        "type": "boolean",
                        "description": "Indicates whether the input field is mandatory",
                        "example": null
                    },
                    "typeDefinition": {
                        "$ref": "#/components/schemas/PublicFieldTypeDefinition",
                        "description": "Reference to the field type definition specifying data type constraints."
                    },
                    "supportedValueTypes": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "STATIC_VALUE",
                                "OBJECT_PROPERTY"
                            ],
                            "example": null
                        },
                        "example": null,
                        "description": "Array of value types the field accepts (STATIC_VALUE or OBJECT_PROPERTY)."
                    }
                },
                "example": null,
                "description": "Defines the structure and requirements of an input field for automation actions."
            },
            "FieldTypeDefinition": {
                "required": [
                    "externalOptions",
                    "name",
                    "options",
                    "schema",
                    "type",
                    "useChirp"
                ],
                "type": "object",
                "properties": {
                    "schema": {
                        "description": "Defines the structure and constraints of the field",
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/IntegerFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/LongFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/DoubleFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/StringFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/BooleanFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/ArrayFieldSchema"
                            },
                            {
                                "$ref": "#/components/schemas/ObjectFieldSchema"
                            }
                        ],
                        "example": null
                    },
                    "helpText": {
                        "type": "string",
                        "description": "Additional information or guidance about the field",
                        "example": null
                    },
                    "description": {
                        "type": "string",
                        "description": "A detailed explanation of the field's purpose and usage",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "The user-friendly label for the field",
                        "example": null
                    },
                    "useChirp": {
                        "type": "boolean",
                        "description": "Specifies whether the field uses the Chirp feature",
                        "example": null
                    },
                    "type": {
                        "type": "string",
                        "description": "Specifies the data type of the field, with accepted values like bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, string",
                        "enum": [
                            "bool",
                            "currency_number",
                            "date",
                            "datetime",
                            "enumeration",
                            "json",
                            "number",
                            "object_coordinates",
                            "phone_number",
                            "string"
                        ],
                        "example": null
                    },
                    "referencedObjectType": {
                        "type": "string",
                        "description": "Indicates the type of object that the field references, with accepted values like OWNER",
                        "enum": [
                            "ABANDONED_CART",
                            "ACCEPTANCE_TEST",
                            "AD",
                            "AD_ACCOUNT",
                            "AD_CAMPAIGN",
                            "AD_GROUP",
                            "AI_FORECAST",
                            "ALL_PAGES",
                            "APPROVAL",
                            "APPROVAL_STEP",
                            "ATTRIBUTION",
                            "AUDIENCE",
                            "AUTOMATION_JOURNEY",
                            "AUTOMATION_PLATFORM_FLOW",
                            "AUTOMATION_PLATFORM_FLOW_ACTION",
                            "BET_ALERT",
                            "BET_DELIVERABLE_SERVICE",
                            "BLOG_LISTING_PAGE",
                            "BLOG_POST",
                            "CALL",
                            "CAMPAIGN",
                            "CAMPAIGN_BUDGET_ITEM",
                            "CAMPAIGN_SPEND_ITEM",
                            "CAMPAIGN_STEP",
                            "CAMPAIGN_TEMPLATE",
                            "CAMPAIGN_TEMPLATE_STEP",
                            "CART",
                            "CASE_STUDY",
                            "CHATFLOW",
                            "CLIP",
                            "CMS_URL",
                            "COMBO_EVENT_CONFIGURATION",
                            "COMMERCE_PAYMENT",
                            "COMMUNICATION",
                            "COMPANY",
                            "CONTACT",
                            "CONTACT_CREATE_ATTRIBUTION",
                            "CONTENT",
                            "CONTENT_AUDIT",
                            "CONTENT_AUDIT_PAGE",
                            "CONVERSATION",
                            "CONVERSATION_INBOX",
                            "CONVERSATION_SESSION",
                            "CRM_OBJECTS_DUMMY_TYPE",
                            "CRM_PIPELINES_DUMMY_TYPE",
                            "CTA",
                            "CTA_VARIANT",
                            "DATA_PRIVACY_CONSENT",
                            "DATA_SYNC_STATE",
                            "DEAL",
                            "DEAL_CREATE_ATTRIBUTION",
                            "DEAL_REGISTRATION",
                            "DEAL_SPLIT",
                            "DISCOUNT",
                            "DISCOUNT_CODE",
                            "DISCOUNT_TEMPLATE",
                            "EMAIL",
                            "ENGAGEMENT",
                            "EXPORT",
                            "EXTERNAL_WEB_URL",
                            "FEE",
                            "FEEDBACK_SUBMISSION",
                            "FEEDBACK_SURVEY",
                            "FILE_MANAGER_FILE",
                            "FILE_MANAGER_FOLDER",
                            "FOLDER",
                            "FORECAST",
                            "FORM",
                            "FORM_SUBMISSION_INBOUNDDB",
                            "GOAL_TARGET",
                            "GOAL_TARGET_GROUP",
                            "GOAL_TEMPLATE",
                            "GSC_PROPERTY",
                            "HUB",
                            "IMPORT",
                            "INVOICE",
                            "KEYWORD",
                            "KNOWLEDGE_ARTICLE",
                            "LANDING_PAGE",
                            "LEAD",
                            "LINE_ITEM",
                            "MARKETING_CALENDAR",
                            "MARKETING_CAMPAIGN_UTM",
                            "MARKETING_EMAIL",
                            "MARKETING_EVENT",
                            "MARKETING_EVENT_ATTENDANCE",
                            "MARKETING_SMS",
                            "MEDIA_BRIDGE",
                            "MEETING_EVENT",
                            "MIC",
                            "NOTE",
                            "OBJECT_LIST",
                            "ORDER",
                            "OWNER",
                            "PARTNER_ACCOUNT",
                            "PARTNER_CLIENT",
                            "PARTNER_CLIENT_REVENUE",
                            "PARTNER_SERVICE",
                            "PAYMENT_LINK",
                            "PAYMENT_SCHEDULE",
                            "PAYMENT_SCHEDULE_INSTALLMENT",
                            "PERMISSIONS_TESTING",
                            "PLAYBOOK",
                            "PLAYBOOK_QUESTION",
                            "PLAYBOOK_SUBMISSION",
                            "PLAYBOOK_SUBMISSION_ANSWER",
                            "PLAYLIST",
                            "PLAYLIST_FOLDER",
                            "PODCAST_EPISODE",
                            "PORTAL",
                            "PORTAL_OBJECT_SYNC_MESSAGE",
                            "POSTAL_MAIL",
                            "PRIVACY_SCANNER_COOKIE",
                            "PRODUCT",
                            "PRODUCT_OR_FOLDER",
                            "PROPERTY_INFO",
                            "PROSPECTING_AGENT_CONTACT_ASSIGNMENT",
                            "PUBLISHING_TASK",
                            "QUARANTINED_SUBMISSION",
                            "QUOTA",
                            "QUOTE",
                            "QUOTE_FIELD",
                            "QUOTE_MODULE",
                            "QUOTE_MODULE_FIELD",
                            "QUOTE_TEMPLATE",
                            "RESTORABLE_CRM_OBJECT",
                            "ROSTER",
                            "ROSTER_MEMBER",
                            "SALES_DOCUMENT",
                            "SALES_TASK",
                            "SALES_WORKLOAD",
                            "SALESFORCE_SYNC_ERROR",
                            "SCHEDULING_PAGE",
                            "SCHEMAS_BACKEND_TEST",
                            "SCORE_CONFIGURATION",
                            "SEQUENCE",
                            "SEQUENCE_ENROLLMENT",
                            "SEQUENCE_STEP",
                            "SEQUENCE_STEP_ENROLLMENT",
                            "SERVICE",
                            "SITE_PAGE",
                            "SNIPPET",
                            "SOCIAL_BROADCAST",
                            "SOCIAL_CHANNEL",
                            "SOCIAL_POST",
                            "SOCIAL_PROFILE",
                            "SOX_PROTECTED_DUMMY_TYPE",
                            "SOX_PROTECTED_TEST_TYPE",
                            "SUBMISSION_TAG",
                            "SUBSCRIPTION",
                            "TASK",
                            "TASK_TEMPLATE",
                            "TAX",
                            "TEMPLATE",
                            "TICKET",
                            "UNKNOWN",
                            "UNSUBSCRIBE",
                            "USER",
                            "VIEW",
                            "VIEW_BLOCK",
                            "WEB_INTERACTIVE"
                        ],
                        "example": null
                    },
                    "name": {
                        "type": "string",
                        "description": "The unique identifier for the field",
                        "example": null
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Option"
                        },
                        "example": null,
                        "description": "Array of selectable options available for the field."
                    },
                    "externalOptionsReferenceType": {
                        "type": "string",
                        "description": "Specifies the type of external reference for options",
                        "example": null
                    },
                    "externalOptions": {
                        "type": "boolean",
                        "description": "Indicates whether the field's options are sourced externally",
                        "example": null
                    },
                    "fieldType": {
                        "type": "string",
                        "description": "Describes the field's type in the UI, with accepted values like booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, textarea, unknown",
                        "enum": [
                            "booleancheckbox",
                            "calculation_equation",
                            "calculation_read_time",
                            "calculation_rollup",
                            "calculation_score",
                            "checkbox",
                            "date",
                            "file",
                            "html",
                            "number",
                            "phonenumber",
                            "radio",
                            "select",
                            "text",
                            "textarea",
                            "unknown"
                        ],
                        "example": null
                    },
                    "optionsUrl": {
                        "type": "string",
                        "description": "A URL that provides options for the field",
                        "example": null
                    }
                },
                "example": null,
                "description": "Comprehensive definition of a field's type, schema, options, and display properties."
            },
            "CollectionResponsePublicActionFunctionIdentifierNoPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicActionFunctionIdentifier"
                        },
                        "example": null,
                        "description": "Array of public action function identifiers returned in the response."
                    }
                },
                "example": null,
                "description": "Response containing a collection of action function identifiers without pagination."
            },
            "StandaloneRequestContext": {
                "title": "STANDALONE",
                "required": [
                    "chirpAiContextObject",
                    "source"
                ],
                "type": "object",
                "properties": {
                    "trajectoryId": {
                        "type": "string",
                        "description": "A unique identifier for tracking the trajectory of the request",
                        "example": null
                    },
                    "source": {
                        "type": "string",
                        "description": "Indicates the source of the request, with the default value being 'STANDALONE'",
[...]
